@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  --primary: #166ae8;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}

/* nav {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
} */
nav h1 {
  margin-left: 10px;
}
nav ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
}
nav li.btn {
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
}
nav li.btn:hover {
  color: white;
  background: var(--primary);
}

nav .logo {
  margin-right: auto;
}

h3 {
  font-size: 18px;
  min-height: 36px;
}

footer {
  display: block;
  text-align: center;
  padding: 50px 0;
  margin-top: 60px;
  /* color: #777; */
  border-top: 1px solid #eaeaea;
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color:  #166ae8;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #c9cdd2;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid  #166ae8;
}


.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
