/* .title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #ffffff;
} */


.landing_page{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around; 
}


#tagline {
  width: 300px;
  font-size: 36px;
  line-height: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -150px;
  text-align: center;
}
#tagline:before {
  content: '[';
  position: absolute;
  left: -30px;
  line-height: 40px;
}
#tagline:after {
  content: ']';
  position: absolute;
  right: -30px;
  line-height: 40px;
}
#tagline:after,
#tagline:before {
  color: var(--primary);
  font-size: 42px;
  animation-name:				opacity;
  animation-duration:			12s;
  animation-delay:				0s;
  animation-iteration-count: 	infinite;
}
.visible {
  display:inline-block;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}
.visible ul {
  margin: 0;
  padding: 0;
  list-style: none;
  animation-name:				change;
  animation-duration:			12s;
  animation-delay:				0s;
  animation-iteration-count: 	infinite;
}
.visible ul li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
	0%		{opacity: 1}
	18%		{opacity: 1}

	23%		{opacity: 0}
	25%		{opacity: 1}
	40%		{opacity: 1}
	42%		{opacity: 0}

	48%		{opacity: 0}
	50%		{opacity: 1}
	65%		{opacity: 1}
	67%		{opacity: 0}
	
	73%		{opacity: 0}
	75%		{opacity: 1}
	85%		{opacity: 1}
	87%		{opacity: 0}
	
	93%		{opacity: 0}
	95%		{opacity: 1}
	100%	{opacity: 1}
}
@keyframes opacity {
	0%		{opacity: 1}
	18%		{opacity: 1}

	23%		{opacity: 0}
	25%		{opacity: 1}
	40%		{opacity: 1}
	42%		{opacity: 0}

	48%		{opacity: 0}
	50%		{opacity: 1}
	65%		{opacity: 1}
	67%		{opacity: 0}
	
	73%		{opacity: 0}
	75%		{opacity: 1}
	85%		{opacity: 1}
	87%		{opacity: 0}
	
	93%		{opacity: 0}
	95%		{opacity: 1}
	100%	{opacity: 1}
}
@-webkit-keyframes change {
	0%		{margin-top: 0;}
	15%		{margin-top: 0;}
	25%		{margin-top: -40px;}
	40%		{margin-top: -40px;}
	50%		{margin-top: -80px;}
	65%		{margin-top: -80px;}
	75%		{margin-top: -40px;}
	85%		{margin-top: -40px;}
	100%	{margin-top: 0;}
}
@keyframes change {
	0%		{margin-top: 0;}
	15%		{margin-top: 0;}
	25%		{margin-top: -40px;}
	40%		{margin-top: -40px;}
	50%		{margin-top: -80px;}
	65%		{margin-top: -80px;}
	75%		{margin-top: -40px;}
	85%		{margin-top: -40px;}
	100%	{margin-top: 0;}
}

/* .btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  border-radius: 4px;
  color: var(--primary);
  text-align: center;
  margin-top: 30em;
  background: transparent;
}

.btn:hover {
  color:#ffffff;
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all .3s;
  border: 2px solid transparent;
  cursor: pointer;
} */

.btn {
  padding: 10px 16px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
  margin-top: 30em;
  background: transparent;
  font-family: "Nunito";
}
.btn:hover {
  color:#ffffff;
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all .3s;
  border: 2px solid transparent;
}

.btn1{
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  text-align: center;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color: var(--primary)
}

.btn1 span {
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn1 span:nth-child(1) {
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn1:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn1:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.btn2 {
  border: 2px solid var(--primary);
  width: 150px;
  padding: 10px 10px;
  margin: 20px auto; 
  border-radius: 4px;
  color: var(--primary);
  text-align: center;
  background: transparent;
}

.btn2:hover {
  color:#ffffff;
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all .3s;
  border: 2px solid transparent;
  cursor: pointer;
}



.cate_container {
  flex-wrap: wrap;
  justify-content:space-around; 
  columns: 3 auto;
  
}

.cate_page_title {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 45px;
}

.quiz_item {
padding: 20px;
text-align: center;
border-radius: 4px;
box-sizing: border-box;
min-height: 200px;
max-height: 200px;
line-height: 2.5ex;

}

.question_wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-wrap: wrap;
}

.options_wrap {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.question_text {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
}

.question_body {
  display: flex;
  flex-flow: column;
  padding: 15px;
}

.option_btn {
  width: 46%;
  margin: 0 2% 2%;
  border: 2px solid #ffffff;
  border-radius: 4px;
  transition: all ease 0.2s;
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 15px;
  font-size: 13px;
  white-space: pre-wrap;
  letter-spacing: 0;
}

.option_btn:hover {
  color:#ffffff;
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all .3s;
  border: 2px solid transparent;
}


/* only use classes in this file */